{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance - Simple Import Export</title>
    <link rel="stylesheet" href="{% static 'core/finance.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Simple Import Management System</a></li>
                <li><a href="{% url 'SIEMS_home' %}">Log out</a></li>
            </ul>
        </nav>
    </header>

    <section class="about-us">
        <h1>Available Car Details</h1>
        <hr>
            {% for order in avail %} 
                            
                            <p><strong>Model: </strong>{{ order.Model.Model }}</p>
                            <p><strong>Specifications: </strong>{{ order.Model.Specifications }}</p>
                            <p><strong>Year: </strong>{{ order.Model.Year }}</p>
                            <p><strong>Price: </strong>{{ order.Model.Price }}</p>
                            <p><strong>Supplier: </strong>{{ order.Model.supplier.supp_name}}</p>
                            <p><strong>Color: </strong>{{ order.Color }}</p>
                            <p><strong>Count: </strong>{{ order.Count }}</p>
                            <hr>
                            
            {% empty %}
                <li>No orders found.</li>
            {% endfor %}
            
        
        <div class="available-content"></div>
    </section>

    <footer>
        <p>&copy; 2024 Simple Import Export Management System. All rights reserved.</p>
    </footer>
</body>
</html>
